//--FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Mono+One&display=swap");

$font-headings: "Rubik Mono One", sans-serif;
$font-paragraphs: "Roboto Mono", monospace;

//--COLOURS
$main-background: #fffffe;
$main-heading: #2b2c34;
$main-card: #d1d1e9;
$main-paragraph: #3d3d43;
$welcome-background: #e45858;
$button-background: #6246ea;
$button-text: #fffffe;
$border: #555153;
